@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.travels__center {
  max-width: 1440px;
}
@media only screen and (max-width: 1419px) {
  .travels__center {
    padding: 0 40px;
  }
}
@media only screen and (max-width: 1023px) {
  .travels__center {
    padding: 0;
  }
}

.travels__wrapper {
  padding: 80px;
  border-radius: 24px;
  background: #f4f5f6;
}
@media only screen and (max-width: 1419px) {
  .travels__wrapper {
    padding: 64px 40px;
  }
}
@media only screen and (max-width: 1023px) {
  .travels__wrapper {
    border-radius: 0;
  }
}
@media only screen and (max-width: 767px) {
  .travels__wrapper {
    padding: 64px 32px;
  }
}
body.dark .travels__wrapper {
  background: #141416;
  box-shadow: inset 0 0 0 2px #23262f;
}

.travels__title {
  margin-bottom: 12px;
}

.travels__info {
  margin-bottom: 64px;
}
@media only screen and (max-width: 1179px) {
  .travels__info {
    margin-bottom: 48px;
  }
}

.travels__sorting {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}
@media only screen and (max-width: 1023px) {
  .travels__sorting {
    justify-content: space-between;
  }
}
@media only screen and (max-width: 767px) {
  .travels__sorting {
    display: block;
  }
}

.travels .nav {
  margin-right: auto;
}
@media only screen and (max-width: 1023px) {
  .travels .nav {
    display: none;
  }
}

.travels .nav__link:not(:last-child) {
  margin-right: 16px;
}

.travels__select {
  flex-shrink: 0;
  width: 256px;
}
@media only screen and (max-width: 767px) {
  .travels__select {
    width: 100%;
  }
  .travels__select:not(:last-child) {
    margin-bottom: 16px;
  }
}

.travels__list {
  display: flex;
  flex-wrap: wrap;
  margin: -32px -16px 0;
}
@media only screen and (max-width: 1339px) {
  .travels__list {
    margin: -32px -10px 0;
  }
}
@media only screen and (max-width: 1179px) {
  .travels__list {
    margin: -32px -16px 0;
  }
}
@media only screen and (max-width: 767px) {
  .travels__list {
    display: block;
    margin: 0;
  }
}

.travels__card {
  flex: 0 0 calc(25% - 32px);
  width: calc(25% - 32px);
  margin: 32px 16px 0;
  border-radius: 16px !important;
  overflow: hidden;
  background: #fcfcfd;
  color: #23262f;
}
@media only screen and (max-width: 1339px) {
  .travels__card {
    flex: 0 0 calc(25% - 20px);
    width: calc(25% - 20px);
    margin: 32px 10px 0;
  }
}
@media only screen and (max-width: 1179px) {
  .travels__card {
    flex: 0 0 calc(33.333% - 32px);
    width: calc(33.333% - 32px);
    margin: 32px 16px 0;
  }
}
@media only screen and (max-width: 1023px) {
  .travels__card {
    flex: 0 0 calc(50% - 32px);
    width: calc(50% - 32px);
  }
}
@media only screen and (max-width: 767px) {
  .travels__card {
    display: block;
    width: 100%;
    margin: 64px 0 0;
    
  }
  .card_rows {
    padding: 0 4em;
  }
}

@media screen and (max-width: 474px) {
  .card_rows {
    padding: 0;
  }
}

body.dark .travels__card {
  background: #23262f;
  color: #fcfcfd;
}
.travels__card:hover .travels__subtitle {
  color: #3b71fe;
}
body.dark .travels__card:hover .travels__subtitle {
  color: #3b71fe;
}
.travels__card:hover .travels__preview img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
@media only screen and (max-width: 1179px) {
  .travels__card:nth-child(n + 7) {
    display: none;
  }
}

.travels__preview {
  position: relative;
  overflow: hidden;
}
.travels__preview:before {
  content: "";
  display: block;
  padding-bottom: 89%;
}
.travels__preview img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.travels__body {
  padding: 20px;
}

.travels__line {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.travels__line:not(:last-child) {
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e6e8ec;
}
body.dark .travels__line:not(:last-child) {
  border-color: #353945;
}

.travels__subtitle {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  transition: color 0.2s;
}

.travels__location {
  font-size: 12px;
  line-height: 1.66667;
  color: #353945;
}
body.dark .travels__location {
  color: #e6e8ec;
}

.travels__price {
  margin-left: 16px;
  padding: 6px 8px;
  // box-shadow: inset 0 0 0 2px #58c27d;
  border-radius: 4px;
  text-align: center;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  // color: #58c27d;
}

.travels__old {
  margin-bottom: 6px;
  text-decoration: line-through;
  color: #b1b5c3;
}

.travels__date {
  margin-right: 20px;
  font-size: 12px;
  line-height: 1.66667;
  color: #777e90;
}

.travels__rating {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.66667;
  font-weight: 600;
}
.travels__rating .icon {
  width: 12px;
  height: 12px;
  margin-right: 4px;
  fill: #ffd166;
}

.travels__btns {
  margin-top: 64px;
  text-align: center;
}
@media only screen and (max-width: 1023px) {
  .travels__btns {
    margin-top: 48px;
  }
}
