.swiper {
  width: 100%;
  height: auto !important;
}

.swiper-slide {
  visibility: visible;
}

.swiper-slide img {
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}
.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.hide__arrows {
  display: none !important;
}

.slider_nav {
  display: flex;
  justify-content: center;

  .slider_arrow {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
      box-shadow: inset 0 0 0 2px #edf2f7;
    }
  }
}

.hover_disabled {
  box-shadow: inset 0 0 0 2px #edf2f700 !important;
  cursor: initial !important;
}

@media only screen and (max-width: 1024px) {
  .hero_img {
    width: 40%;
  }
}

.desktop__arrows {
  display: flex;
}

@media screen and (max-width: 768px) {
  .desktop__arrows {
    font-size: 1.75em;
  }
}

@media screen and (min-width: 768px) {
  .swiper_container {
    width: 100%;
  }
}

.recent_title {
  background: linear-gradient(to right, #39a5e8, #4196cc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-size: 2.5rem;
  text-align: center;
}

.recent_sub_title {
  font-size: 1.75rem;
  text-align: center;
}

@media screen and (max-width: 474px) {
  .recent_title {
    font-size: 2.5rem !important;
  }
}

@media screen and (max-width: 320px) {
  .recent_title {
    font-size: 1.5rem !important;
  }
}
